<section class="main-bar">
    <div class="offset-md-2">Sistema de Gestión de Inventario</div>
</section>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col py-3">
            <div class="inicio">
                <h3>Inicio</h3>
            </div>
            <br />
            <section>
                <div class="row text-center">
                    <div class="col-sm">
                        <div class="miDiv">
                            <button type="button" class="btn btn-outline-primary btn-lg">
                                Proveedores
                            </button>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="miDiv">
                            <button type="button" class="btn btn-outline-primary btn-lg">
                                Productos
                            </button>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="miDiv">
                            <button type="button" class="btn btn-outline-primary btn-lg">
                                Entradas
                            </button>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="miDiv">
                            <button type="button" class="btn btn-outline-primary btn-lg">
                                Salidas
                            </button>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="miDiv">
                            <button type="button" class="btn btn-outline-primary btn-lg">
                                Existencias
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row text-center">


                </div>
            </section>
        </div>
    </div>
</div>